{% load staticfiles %}

<!--
<html>
    <head>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
</html>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                {% block content %}
                {% endblock %}
            </div>

        </div>
    </div>
</body>
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>News</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <script src="{% static 'js/code.js' %}"></script>
  </head>

  <script>
    function validateForm(){
      let email = document.getElementById('exampleInputEmail2').value;
      let pass = document.getElementById('exampleInputPassword2').value;
      if(email === "" || pass === ""){
        alert("You must enter your name and password");
        }
      }


  </script>

  <body>

    <!--NAVIGATION-->

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="index.html">{% load static %}<img class="img-responsive" src="{%static 'img/logo.png' %}"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">

          <ul class="nav navbar-nav navbar-right">
               <li class="vertical-align">
                  {% if user.is_authenticated %}
                        <p >Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
                   {% else %}
                         <a href="{% url 'login' %}"><span class="glyphicon glyphicon-lock"> </span>  Sign in</a>
                   {% endif %}

              </li>


      </ul>
          <ul class="nav navbar-nav navbar-left">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li ><a href="{% url 'politics' %}" class="uppercase">politics</a></li>
            <li><a href="{% url 'world' %}"class="uppercase">world</a></li>
            <li><a href="{% url 'business' %}"class="uppercase">business</a></li>
            <li><a href="{% url 'sport' %}"class="uppercase">sport</a></li>
            <li><a href="{% url 'editor' %}"class="uppercase">Editor's picks</a></li>

          </ul>
        </div>
      </div>
    </nav>
    {% block content1 %}
    {% endblock content1%}
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      <div id="footer" class="footer">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-4">
                      <h4>Contact Us</h4>
                      <p><i class="fa fa-home" aria-hidden="true"></i> 111 Main Street, Eindhoven, 5612 AR </p>
                      <p><i class="fa fa-envelope" aria-hidden="true"></i> info@news.com</p>
                      <p><i class="fa fa-phone" aria-hidden="true"></i> +1 333 333 2222</p>
                      <p><i class="fa fa-globe" aria-hidden="true"></i> www.news.com</p>
                  </div>
                  <div class="col-lg-4 col-md-4">
                      <h4>About</h4>
                      <p><i class="fa fa-square-o" aria-hidden="true"></i> About Us</p>
                      <p><i class="fa fa-square-o" aria-hidden="true"></i> Privacy</p>
                      <p><i class="fa fa-square-o" aria-hidden="true"></i> Term & Condition</p>
                  </div>
                  <div class="col-lg-4 col-md-4">
                      <h4>Stay in touch</h4>
                      <i class="social fa fa-facebook" aria-hidden="true"></i>
                      <i class="social fa fa-twitter" aria-hidden="true"></i>
                      <i class="social fa fa-linkedin" aria-hidden="true"></i>
                      <i class="social fa fa-pinterest" aria-hidden="true"></i>
                      <i class="social fa fa-youtube" aria-hidden="true"></i>
                      <i class="social fa fa-github" aria-hidden="true"></i><br>
                      <input type="email" placeholder="Subscribe For Updates"><button class="btn btn-success">Subscribe</button>
                  </div>
              </div>
          </div>
      </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!--JQuery-->
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  </body>
</html>

